html{
    font-size: 62.5%;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: antiquewhite;
    font-size: 1.6rem ;
    font-family: 'Lato', sans-serif;
    line-height: 2rem;
}
img{
    width: 100%;
}
a{
    text-decoration: none;
}
ul{
    list-style-type: none;
}
/*---------------HEADER---------------------*/
/*Menu*/
.menu{
    display: flex;
    align-items: center;
}
.fraseheader{
    color: white;
    font-size: 25px;
    padding-left: 60px;
}
.opciones li a{
    color: white;
    font-size: 1.8rem; /** 1.8REM = 28.8px**/
}
.opciones li a:hover {
    color: #fbbe28;
    text-decoration: underline;
}
.logo{
    width: 200px;
}
.encabezado{
    background-color: black;
    display: flex;
    flex-wrap: wrap;
}
/*-------------------------FIN DE HEADER-----------------------*/
/*---------------BOXES DE INICIO (NO TOCAR)--------------------*/
.info{
    font-size: 30px;
    color: black;
    line-height: normal;
}
.titulos{
    font-size: 40px;
    margin-top: 30px;
    margin-bottom: 20px;
    background-color: #fbbe28;
    padding: 20px 0 20px 0
}

.cancion{
    transition:all .7s ease;
    width:100%;
}
.cancion:hover{
    transform:scale(1.07);
    background-color: #fbbe28;
}
.cancion{
    width:15%;
}
.canciones{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
/*****************************************/
.discoalbum{
    transition: all .7s ease;
    width:100%;
}
.discoalbum:hover{
    transform:scale(1.07);
    background-color: #fbbe28;
}
.discoalbum{
    width:15%;
}

.discosalbumes{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
/*********************************************/
.artista{
    width:100%;
    transition: all .7s ease;
}
.artista:hover{
    transform:scale(1.07);
    background-color: #fbbe28;
}
.artista{
    width:15%;
}

.artistas{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 50px;
}
/*-------------FIN DE BOXES DE INICIO--------------------------*/
/*---------------VALEN-----------------------------*/
/*detalles de canciones*/
.imgdetalles{
    width: 20%;
    height: 5%;
}
.infodetallescancion{
    display: flexbox;
    align-items: center;
}
.infodetalles{
    margin: 10px 0 10px 0;
    font-size: 30px;
    color: black;
}
.infodetalles a{
    color: black;
}
.infodetalles a:hover{
    text-decoration: underline;
    color: #fbbe28;
}
/*detalles de albumes*/
.detallesalbum{
    display: flex;
    align-items: center;
}
.listacanciones{
    text-decoration: underline;
    background-color: #fbbe28;
}
.listadocanciones a{
    color: black;
}
.listadocanciones a:hover{
    color: #fbbe28;
}
/*detalles artistas*/
.detallesartista{
    display: flex;
}
/*--------------------FIN DE VALEN-----------------------------*/
/*-----------------------GERO-------------------------*/
 /** generos.html**/
 .generos{
     padding: 6rem;
     width: 30rem;  
 }
 img {
     height: 20rem;
 }
 .titulo-generos{
     margin-top: 3%;
 }
 .generos-article{
     margin-bottom: 3rem; 
 }
 .generos-article:hover {
    width: 20rem; 
    background-color: #fbbe28;
 }
 .nombre-lista{
     color: black;
     display: flex;
    justify-content: center;
 }
 .section-genero{
    margin: 2rem;
}
 /** detalles generos **/
 .listas{
     display: flexbox;
     padding: 2rem;
 }
 .listas a{
     color:black;
 }
 .canciones-en-lista{
     padding-bottom: 0.73rem;
 }
 .canciones-en-lista a:hover{
    font-weight: bold;
    text-decoration: underline;
 }
 .section-detalle{
     text-align: center;
     display: flex;
     flex-wrap: wrap;
     justify-content: center;
     align-items: center; 
 }
 .section-detalle h2{
     width: 100%;
     background-color: #fbbe28;
 }
 .section-detalle1{
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
     }
.canciones-en-lista-rock{
         padding-bottom: 8.9rem;
     }
.canciones-en-lista-rock a:hover{
        font-weight: bold;
        text-decoration: underline;
     }
/*----------------------FIN DE GERO-----------------------------*/
/*---------------------GONZA-------------------------*/
form.buscador input[type=text] {
    padding: 5px;
    font-size: 15px;
    border: 1px solid black;
    float: left;
    width: 80%;
    background: #fbbe28;
  }
form.buscador button{
    background-color: #fbbe28;
    width: 15%;
    padding: 5px;
    border-color: #fbbe28;
}
form.example::after {
    content: "";
    clear: both;
    display: table;
  }
.titulogonchy{
    margin-top: 2%;
    text-align: center;
}
.subtitulosbusqueda{
    font-size: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px 0 20px 0
}
.seccionesresultados{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.footer{
    background-color: black;
    position: bottom;
    left: 0%;
    bottom: 5%;
    width: 100%;
}
.textosfooter{
    color: #fbbe28;
}
.fundadores{
    border-radius: 50%;
    width: 300px;
    height: 200px;
}
.seccionfundadores{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.imgctexto{
    position: relative;
    text-align: center;
    color: white;
}
.centrado{
    position: absolute;
    top: 70%;
    left: 30%;
    transform: translate(-50%, -50%);
}
.cancionesplaylist{
    width:15%;
    overflow:hidden;
    margin: 20px;
}
/*---------------------FIN DE GONZA--------------------------------*/
@media (min-width: 320px) and (max-width: 480px) {
    body {
      background-color: #fbbe28;
    }
    /**textos de las imagenes**/
    .info{
        font-size: 15px;
    }
    /**Pagina resultados**/
    .subtitulosbusqueda{
        font-size: 30px;
    }
    .seccionesresultados{
        display: flex;
        justify-content: center;
    }
    .cancionesplaylist{
        width: 50%;
        margin: 0;
    }
    /**Header**/
    form.buscador input[type=text] {
        padding: 5px;
        font-size: 15px;
        border: 1px solid black;
        float: left;
        width: 60%;
        background: #fbbe28;
    }
    .logo{
        margin-left: 22%;
    }
    form.buscador button{
        background-color: #fbbe28;
        width: 40%;
        border-color: #fbbe28;
    }
    /**Footer empieza aca para mobile**/
    .imgctexto{
        width: 100%;
    }
    /**Pagina home mobile**/
    .artistas{
        display: flex;
        justify-content: center;
    }
    .cancion{
        width: 50%;
    }
    .canciones{
        display: flex;
        justify-content: center;
    }
    .discoalbum{
        width: 50%;
    }
    .discosalbumes{
        display: flex;
        justify-content: center;
    }
    .artista{
        width: 50%;
    }
    .artistas{
        display: flex;
        justify-content: center;
    }
    /**Detalle de las canciones**/
    .imgdetalles{
        width: 90%;
        margin-left: 5%;
    }
    .video{
        width: 90%;
        margin-left: 5%;
    }
    /**Detalle de los albumes**/
    .detallesalbum{
        flex-direction: column;
        margin-right: 5%;
    }
    /**Detalles artistas**/
    .detallesartista{
        flex-direction: column;
        margin-right: 5%;
    }
}