*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.body{
    background-color: antiquewhite;
}
img{
    width: 100%;
}
a{
    list-style-type: none;
}
ul{
    list-style-type: none;
}
.logo{
    width: 200px;
}
.encabezado{
    background-color: black;
}
.opciones{
    width: 50%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.opciones li{
    list-style-type: none;
}
.opciones li a{
    color:#fbbe28;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
}
.menu .opciones li a{
    text-decoration: none;
}
.buscador{
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 80%;
    background: #f1f1f1;
}
.buscador{
    float: right;
    width: 25%;
    padding: 20px;
    background: black;
    color:#fbbe28;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none; /* Prevent double borders */
    cursor: pointer;
}
.buscador{
    background: #0b7dda;
}
.buscador{
    content: "";
    clear: both;
    display: table;
}
.footer{
    background-color: #fbbe28;
    position: fixed;
    left: 0%;
    bottom: 0%;
    width: 100%;
}
