*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.body{
    background-color: antiquewhite;
    font-size: 1.6rem ;
    font-family: 'Lato', sans-serif;
    line-height: 2rem;
}
img{
    width: 100%;
}
a{
    list-style-type: none;
}
/** header**/


/** navegación**/
.navegación a {
    color: white;
    text-decoration: none;
    font-size: 1.8rem; /** 1.8REM = 18px**/
    margin-right: 2rem;
    
}
.navegación a:hover {
    color: #71b100;
}
.navegación a:last-of-type {
    margin: 0;
}

.logo{
    width: 200px;
}
.encabezado{
    background-color: black;
    height: 100%;
    display: flex;
    justify-content: space-between;
}

.buscador{
    padding-left: 980px;
    font-size: 17px;
    float: right;
    width: 70%;
    background-color: black;
    border-left: none; /* Prevent double borders */
    cursor: pointer;
    content: "";
    clear: both;
    display: flex;
    align-items: top right;
}

.footer{
    background-color: #fbbe28;
    position: fixed;
    left: 0%;
    bottom: 0%;
    width: 100%;
}
